- title "#{@user.name}'s #{'Private' if @user.private_video} Birthday Wish for Lisa"

#framey_player_container
	= render_player({:video_url => @video.flv_url, :thumbnail_url => @video.medium_thumbnail_url, :progress_bar_color => "0x123456", :volume_bar_color => "0x123456"})                                          

#guestbook
	= @user.message
			 
#redo
	= link_to "Erase and rerecord?", new_user_video_path(@user), :confirm => "This will delete your existing video.  Are you sure you want to do that?" 
