!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)

  %body{:class => "#{@body_class}"}
    #header
      #nav
        .nav= link_to "Invite", '#invite', :class => "inline fb"  unless @user && @user.new_record?
        .nav= link_to "All Wishes", videos_path unless @user &&  @user.new_record?
        #seal= link_to (image_tag "lisa_seal.png", :title => "Seal - Lisa"), logout_path
        .nav= link_to "My Wish", user_video_path(@user, @user.videos.first) unless @user.new_record? if @user
        .nav= link_to "Log out", logout_path unless @user && @user.new_record?

    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      %div{:id => controller.controller_name, :class => "#{controller.action_name}"}
        = yield

    #footer
      #contact
        Problems?  Questions? Email Josh @ 
        = mail_to "jlippiner@gmail.com"

    - if @user && !@user.new_record?
      #invite
        %h1 Invite Lisa's Friends 

        %p
          Please enter the email addresses for any friends or family of Lisa that 
          you might know and I'll send them a note inviting them to share their bday wish for her.

        = text_area_tag 'emails', '', :placeholder => "enter email addresses" 

        %br
        = link_to 'Submit', invite_user_path(@user) 

        .thanks
          Invites Sent.  Thanks!
          